# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# OS/editor
.DS_Store
.idea/
.vscode/

# Build artifacts
build/
dist/
*.egg-info/

# Local environment
.env
.env.*

# Tooling & runs
wandb/
llm_cache/
log/

# Data outputs (keep raw datasets tracked if needed)
data/**/generated/
.DS_Store
wandb/
log/
data/
gen_data/
*.egg-info/
*.pyc
__pycache__
.mypy_cache
.vscode

third_party/retro_star/
third_party/GCN/model_gin

llm_cache/
standalone/